.nav a, pagination-bar a {
    display: inline-block;
    border-radius: 5px;
    padding: 7px;
    background-color: #888;
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin: 3px;
}

pagination-bar {
    display: grid;
    width: 100%;
    margin-top: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left . right";
    /* margin-bottom: 0.5rem; */
    /* background: red; */
}

pagination-bar .next {
    grid-area: right;
    justify-self: end;
}

pagination-bar .next::after {
    margin-left: 0.5em;
    content: "➡"
}

pagination-bar .previous::before {
    margin-right: 0.5em;
    content: "⬅"
}

pagination-bar .previous {
    justify-self: start;
}

.nav a.active {
    text-decoration: underline
}

textarea.post {
    min-height: 20em;
    width: 60em;
    margin: 1rem 0;
}

div.entry {
    border: 2px solid #d6d5d5;
    margin: 1rem 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.flash.success {
    border: 2px solid #005500;
    background-color: #62ff6230;
    margin: 1em 0;
    padding: 0.5rem;
}

.flash.success:before {
    content: "✅";
    margin-right: 0.5rem;
}

.flash.error {
    border: 2px solid darkred;
    background-color: #ff000024;
    margin: 1em 0;
    padding: 0.5rem;
}

.flash.error:before {
    content: "❌";
    margin-right: 0.5rem;
}