<html>
<head>
    <meta charset="UTF-8">
    <title>{{ page.title | default(value="Vault") }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

{% if page.nav %}
    <div class="nav">
    {% for navItem in page.nav %}
        {% if navItem.link == page.rel_path %}
            <a href="{{navItem.link}}" class="active">{{navItem.title}}</a>
        {% elif not navItem.hidden %}
            <a href="{{navItem.link}}">{{navItem.title}}</a>
        {% endif %}
    {% endfor %}
    </div>
{% endif %}

{% if page.next or page.previous %}
<pagination-bar>
    {% if page.previous %}
        <a href="{{page.previous.link}}" class="previous">{{page.previous.title}}</a>
    {% endif %}
    {% if page.next %}
        <a href="{{page.next.link}}" class="next">{{page.next.title}}</a>
    {% endif %}
</pagination-bar>
{% endif %}

{% if page.flash %}
    <div class="flash {{page.flash.type}}">{{ page.flash.message }}</div>
{% endif %}

{% block body %}
Body goes here
{% endblock %}

{% if page.next or page.previous %}
<pagination-bar>
    {% if page.previous %}
        <a href="{{page.previous.link}}" class="previous">{{page.previous.title}}</a>
    {% endif %}
    {% if page.next %}
        <a href="{{page.next.link}}" class="next">{{page.next.title}}</a>
    {% endif %}
</pagination-bar>
{% endif %}
</body>
